/* la mayoria de las pantallas funcionan con un solo color .
    la suma del RGB da como resultado un blanco 
    Tenemos varias formas de dar color en css.

    keywoeds-> Palabras clabes que representan colores.
    https://www.w3.org/wiki/CSS/Properties/color/keywords
    IMPORTANTE: recordar que existe el  color "transparent"

    current-color-> Es una pañabra clave que se puede usar en lugar de cualquier valor de color y usara el valor ya sea establecido o heredado en la propiedad color.


*/

body{
    background-color:mediumorchid;
    color: aquamarine;
}

/* .main{
    color:aquamarine;
    background-color: currentColor;
} */

.box{
    /* border-bottom: 250px solid blue;
    border-right:400px solid  yellow;
    border-left: 400px solid  red; */


    width: 300px;
    height: 300px;
    /* Hereda del color más proximo */
    background-color: lightcoral;
    border: 5px solid;
}

