/* 
    Formato para fuentes
        True Type Font (TTF) ->  Fue el primer formato estandar.

        Open True Type FontF(OTF) -> Facilitar o implementar la creación de las curvas.

        Web Open Font Format  (WOFF)  , (FOFF2) -> Es un formato mucho más ligero y mejora el rendimiento, funciona a travez de metadatos,WOOFF tiene soporte total y WOFF2 no funciona en internet explorer.

        Scalable Vector Type(SVG) -> Para animaciones sobre texto, no es recomendable usarlo para el texto generico de la web,tiene muchos problemas.

        Embedeb Open Digital (EOD) ->Promer formato digital propuesta para sitios web y es comprimida, se quedo como una propuesta pero no llego a ser estandar.
        
        Regla @font-face {
            font-family-> Nombre de la familia se la asignamos noostros.
                src-> Aqui podremos dos tipos de valores.
                    Local()-> Pondremos el nombre de la fuente, para buscarla en el ordenador del usuario,de esta forma podría evitar descargarla.
                    url()-> si no encontramos esa fuente procedemos a descargarla.

                Existe otro valor menos usado que es format.
                format()->este valor lo pasaremos de forma opcional, si queremos ser más esplicitos con la fuente que vamos a buscar o descargar, si no podemos cogera el primer formato soportado,si lo ponemos solo usara el que hemos establecido y si no lo encuentra no usara nada.

        }

        Podemos añadir más valores como font-style, font-weight y font-display(experimental),pero esos son experimentales.

        
        TEXT DECOTATION - TEXT TRANSFORM
            Transformaciones de texto
                Text-transform -> Esta propiedad nos va permitir hacer transformaciones ESPECIFICAS en nuestro texto.
                Admite los valores:
                    none->No se aplicara ninguna transformación
                    uppercase-> El texto se pondra en mayuscula.
                    lowercase-> El texto se pondra en minuscula.
                    capitalize-> Transforma la primera letra de cada palabra en mayuscula.
                Adornos en el texto
                    text-decoration-> Esta propiedad nos permite controlar la linea que podemos poner en los textos.
                    Admite los valores:
                        none-> Elimina cualquier linea.
                        underline-> Coloca una linea bajo el texto.
                        overline-> Coloca una linea sobre el texto.
                        line through-> Coloca una linea tachando el texto.

                    text-shadow-> Funciona exactamente igual que box-shadow, con la unica diferencia que lo admite el valor inset ni la expansion de la sombra.
                        offsetx-> despñazamiento horizontal
                        offsety->despñazamiento vertical
                        blur->desemfoque
                        color->color por degecto,coge el del texto.

                    
                    ESPACIADOS EN FUENTES Y TEXTOS
                        letter-spacing-> Establece la separación entre caracteres,se puede establecer en cualquier medida valida para CSS.

                        word-spacing-> establece la separación entre palabras,se puede establecer en cualquier medida valida para CSS.

                        line-weight-> Establece el alto de cada linea,se puede dar una medida concreta o se puede poner un numero que se multiclicada por el font-size del tezto al que se lo estemos aplicando.

                        Orientación de texto
                            writing-mode->Establece la dirección del teco.





        REFERENCIAS 
        FONT-FACE
        https://www.1001fonts.com/
        https://www.dafont.com/es/
        
        Para hacer más ligero la descarga de fuente se necesita que dea de ttf a woff
        https://convertio.co/es/ttf-woff/

        Extensiones
            whatfont
            https://chrome.google.com/webstore/detail/whatfont/jabopobgcpjmedljpbcaablpmlmfcogm?hl=es


        QUE SITIOIS VISITAR PARA CSS:
            https://www.w3schools.com/ -> sitoi que no se recomienda , malas practicas.
            https://developer.mozilla.org/es/ -> contrastar la información tnto para HTML y CSS
            https://css-tricks.com/ -> sitio no oficial , da muy buenos consejos, contrastado con documentación oficial.
            https://caniuse.com/ -> si se puede usar una propiedad o no.
            
        
        Cómo hacer COLUMNAS RESPONSIVES con HTML y CSS | Prácticas y Ejercicios de Desarrollo Web | Reto #3
        Aprende a CREAR TARJETAS [ Desafío Frontend Mentor ] Ejercicios HTML y CSS para PRACTICAR ➡ #2
        Cómo hacer una TARJETA de Perfil de USUARIO | Ejercicios HTML y CSS para PRACTICAR ➡ Desafío #1




*/

@font-face{
    font-family: 'mano-alzada';
    src: local("Great Vibes"), url('../../assets/fonts/fuente.ttf');
}

body{
    background-color: #333;
    color: aliceblue;
    font-family: sans-serif;
}

.text{
    text-transform: uppercase;

    /* letter-spacing: 2px;
    word-spacing: 5px; */

    /* para establecer la direccion del texto */
    /* writing-mode: vertical-rl; */

    /* escribir el texto en una sola linea , es importante que tenga una medida sino la propiedad no funcionara*/
    word-break: break-all;
    width: 10px;
    text-align: center;

}


.word-container{
    text-transform: uppercase;
    background-color: lightcoral;
    height: 200px;
    text-align: center;
}

.word{
    /* para establecer el texto centrado con line-height solo debe estar en una linea la clase al que se aplica el css */
    line-height: 200px;
}
/* .link{
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #fff;
} */