/* 
    Ordenar las propiedades -> Es importante, no existe nunguna norma ni especificaciones sobre como hacerlo, pero la matoria de expertos coinciden en los siguientes puntos.

    1-> Propiedades de posicionamiento.
    2-> Propiedades del box-model
    3-> Propiedades de texto.
    4-> Propiedades visuales(colores,bordes, background)
*/

body{
    /* Position */
    position: relative;
    top: 0;
    left: 0;

    /* box model */
    display: block;
    width: 300px;
    height: 600px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;

    /* text */
    font-size: 16px;
    text-align: center;

    /* visual */
    color: blue;
    border: 2px solid red  ;
    border-radius: 10px;

    /* varios */
    opacity: 1;
}